.card-container {
    overflow-y: overlay;
}

.class-container {
   border: solid #ce9ffc 2px;
   margin: 2%;
   padding: 2%;
   margin-right: 20px;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}

.class-container:hover {
    box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
    background-color: rgba(255, 166, 0, 0.109);
}

.class-info {
    display: flex;
}
.card-title {
 width: 10vw;
}
.class-description {
    width: 20vw;
}