.browser-container {
    height: 100vh;
    background: white;
}

.filter-search-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 2%;
}

.results-container{
    display: flex;
    height: 100vh;

}

.results-card-container{
    height: 100vh;
    width: 50vw;
    background: linear-gradient(135deg, #ce9ffc 0%, #7367f0 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    background: white;
    width: 80%;
    height: 90%;
}

.maps-container{
    width: 50vw;
    height: 100%;
}