.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}
.orange-bar {
    width: 100%;
}
.register-container {
    margin-top: 5rem;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(185, 185, 185);
    width: 700px;
    height: 600px;
    display: flex;
    border-radius: 10px;
    /* background: linear-gradient(135deg, #b0a4bb 0%, #7367f0 100%); */
}
button {
    height: 5rem;
    width: 20rem;
    margin: 4rem;
    border-radius: 20px;
    border: solid #000000 5px;
    background-color: rgba(255, 251, 0, 0.109);

}
button:hover {
    box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
    background-color: rgba(255, 166, 0, 0.109);
    cursor: pointer;
}
.submit-button {
    margin: 20px;;
}
.back-button {
    width: 5rem;
    height: 2rem;
    border-radius: 4px;
    border: 2px solid black;
    margin: 0px;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
}
input {
    margin: 5px;
    height: 2rem;
    width: 15rem;
    border-radius: 7px;
    font-size: 1rem;
}

.register-button {
    width: 8rem;
    height: 2rem;
    border-radius: 4px;
    border: 2px solid black;
    margin: 0px;
}
